@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 2% 17%;
    --foreground: 0 0% 98%;
    --card: 240 2% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 240 2% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 259 100% 87%;
    --primary-foreground: 240 6% 10%;
    --secondary: 209 45% 65%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 2% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 209 45% 65%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 2% 30%;
    --input: 240 2% 30%;
    --ring: 259 100% 87%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 2% 17%;
    --foreground: 0 0% 98%;
    --card: 240 2% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 240 2% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 259 100% 87%;
    --primary-foreground: 240 6% 10%;
    --secondary: 209 45% 65%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 2% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 209 45% 65%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 2% 30%;
    --input: 240 2% 30%;
    --ring: 259 100% 87%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .prose {
    @apply text-foreground;
  }
}
